@font-face {
  font-family: 'Ubuntu Mono';
  src: url('../../fonts/UbuntuSansMono-Regular.woff2') format('woff2'),
       url('../../fonts/UbuntuSansMono-Regular.woff') format('woff'),
       url('../../fonts/UbuntuSansMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.post-content pre, code {
    font-family: 'Ubuntu Mono', monospace;
    max-height: 40rem;
}
